@import "../../styles/sizes.scss";

button {
  color: inherit;
  border: none;
  background: inherit;
}

header {
  min-height: 50px;
  padding: 15px 15px 40px 15px;
  width: 100%;
}

footer {
  padding: 40px 15px 50px 15px;
  min-height: 100px;
}

main {
  height: calc(100vh - 60px - 100px);
  padding: 0 15px;
  width: 100%;
}

.players {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  grid-template-areas: "player1 player1 player2 player2";

  & > article:nth-child(1) {
    grid-area: player1;
  }

  & > article:nth-child(2) {
    grid-area: player2;
  }

  &.players--1-player {
    grid-template-areas: "x x player1 player1";

    & .player__pointer {
      display: none;
    }
  }
}

@media (min-width: $tablet) {
  main {
    padding: 0 50px;
  }

  header {
    padding: 25px 50px 40px 50px;
  }

  .players {
    padding: 40px 50px 50px 50px;
  }
}

@media (min-width: $desktop) {
  header {
    max-width: 1080px;
  }

  .players {
    max-width: 1080px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "x x x player1 player2";

    &.players--1-player {
      grid-template-areas: "x x x player1 player1";
    }
  }

  .board {
    max-width: 600px;
  }
}
