@import "../../styles/sizes.scss";
@import "../../styles/colors.scss";

.rotation-container {
  display: none;
}

button {
  color: inherit;
  border: none;
  background: inherit;
}

header {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

main {
  height: calc(100vh - 90px - 120px);
  padding: 0 15px;
  width: 100%;
}

footer {
  margin: 20px 0;
  padding: 15px;
  width: 100%;
}

.players {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  grid-template-areas: "player1 player1 player2 player2";

  & > article:nth-child(1) {
    grid-area: player1;
  }

  & > article:nth-child(2) {
    grid-area: player2;
  }

  &.players--1-player {
    grid-template-areas: "x x player1 player1";

    & .player__pointer {
      display: none;
    }
  }
}

@media (min-width: $phone) {
  main {
    height: calc(100vh - 125px - 155px);
    padding: 0 50px;
  }

  header {
    padding: 25px 50px 40px 50px;
  }

  footer {
    padding: 40px 50px 25px 50px;
  }
}

@media (max-width: $phone) and (orientation: landscape) {
  .rotation-container {
    display: block;
    background: $action-color;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    color: white;

    & p {
      font-size: 25px;
      margin-top: 50px;
    }
  }
}

@media (min-width: $laptop) {
  header {
    max-width: 1080px;
  }

  .players {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "player1 player2";

    &.players--1-player {
      grid-template-areas: "player1 x";
    }
  }

  .board {
    max-width: 600px;
  }
}

@media (min-width: $desktop) {
  footer {
    max-width: 1080px;
  }

  .players {
    max-width: 1080px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "x x x player1 player2";

    &.players--1-player {
      grid-template-areas: "x x x player1 player1";
    }
  }

  .board {
    max-width: 600px;
  }
}
