.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  column-gap: 15px;
  row-gap: 15px;
  list-style: none;
  aspect-ratio: 1 / 1;
  max-height: calc(100% - 60px - 125px);
  margin-bottom: 125px;
  margin-top: 60px;

  &-container {
    height: 100vh;
    display: grid;
    align-items: center;
    margin: 0 15px;
  }
}
