.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  column-gap: 15px;
  row-gap: 15px;
  list-style: none;
  margin: 15px;

  &-container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
