.board {
  width: 100%;
  list-style: none;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  display: grid;

  &.board--4x4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
  }

  &.board--5x5 {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }

  &-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
