@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.ranking {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: $main-color;

  &__container {
    width: 100%;
    max-height: calc(100% - 160px);
    min-height: 65%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  &__winner {
    text-align: center;
    margin-bottom: 20px;

    & h3 {
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: bolder;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__player {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 15px;

    &:nth-of-type(1) {
      margin-bottom: 20px;
    }

    &.ranking__player--winner {
      background-color: $action-color;
    }
  }

  &__menu {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & button {
      width: 100%;
      border-radius: 25px;
      height: 35px;
      font-weight: bolder;
      font-family: inherit;
      cursor: pointer;
      font-size: 16px;

      &:nth-of-type(1) {
        background-color: $action-color;
        margin-right: 10px;
      }

      &:nth-of-type(2) {
        background-color: $secondary-color;
      }
    }
  }
}

@media (min-width: $tablet) {
  .ranking__container {
    width: 500px;
    min-height: 500px;

    & button {
      height: 40px;
    }
  }

  .ranking__menu {
    font-size: 16px;
  }
}
