@import "../../styles/sizes.scss";
@import "../../styles/_colors.scss";

.player {
  color: rgb(26, 41, 56);
  background-color: rgb(190, 206, 217);
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &--1 {
    background-color: $player1-color;
  }

  &--2 {
    background-color: $player2-color;
  }

  &__points {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
  }

  &__pointer {
    display: none;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    right: calc(50% - 10px);
    height: 20px;
    width: 20px;

    &--1 {
      background-color: $player1-color;
    }

    &--2 {
      background-color: $player2-color;
    }
  }

  &--playing {
    color: white;
  }

  &--playing .player__pointer {
    display: block;
  }
}

@media (min-width: $tablet) {
  p {
    font-size: 16px;
  }
}
